{#  -*- coding: utf-8 -*- #}
{% import 'index_helper.tmpl' as helper with context %}
{% import 'math_helper.tmpl' as math with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% import 'pagination_helper.tmpl' as pagination with context %}
{% import 'feeds_translations_helper.tmpl' as feeds_translations with context %}
{% extends 'base.tmpl' %}

{% block extra_head %}
    {{ super() }}
    {% if posts and (permalink == '/' or permalink == '/' + index_file) %}
        <link rel="prefetch" href="{{ posts[0].permalink() }}" type="text/html">
    {% endif %}
    {{ math.math_styles_ifposts(posts) }}
{% endblock %}

{% block content %}
{% if lang == 'en' %}
    <div class="introduction">
        <h2>Welcome</h2>
        <p>Hi, I live in Argentina and I work with an UK Drupal workshop (mainly).</p>
        <p>In here you'll find mostly technical articles about Linux and Drupal (along with other stuff and random thoughts).</p>
        <p>Please visit my <a href="/aboutme">CV</a>, the <a href="/articles">articles area</a> or the <a href="/cambalache">personal interests</a> area.</p>
        <p>To get in touch with me you can reach me at <a href="https://www.drupal.org/u/ibonelli">Drupal</a>,  <a href="http://www.linkedin.com/pub/ignacio-bonelli/3/527/a1a">LinkedIn</a>, or use my twitter user <a href="https://twitter.com/Ibodigi">Ibodigi</a>.</p>
    </div>
{% elif lang == 'es' %}
    <div class="introduction">
        <h2>Bienvenido</h2>
        <p>Hola, vivo en Argentina y trabajo para una empresa que crea sitios web. También soy docente de la <a href="http://www.electron.frba.utn.edu.ar/materias.php?cod=95-0452#marca">UTN</a>.</p>
        <p>Aquí encontraran articulos técnicos de Drupal, Linux y también un cambalache de mis intereses generales.</p>
        <p>Si les interesa pueden ver mi <a href="/es/micv">CV</a>, los <a href="/es/articles">articulos</a> o la sección <a href="/es/cambalache">cambalache</a>! Para mis alumnos de informática1 visiten <a href="http://info.nachodigital.com.ar">el sitio de la cátedra</a>.</p>
        <p>Para ponerse en contacto conmigo pueden buscarme en <a href="http://www.linkedin.com/pub/ignacio-bonelli/3/527/a1a">LinkedIn</a> o como <a href="https://twitter.com/Ibodigi">Ibodigi</a> en Twitter.</p>
    </div>
{% else %}
    <p>This is the default content for other languages.</p>
{% endif %}
{% block content_header %}
    {{ feeds_translations.translation_link(kind) }}
{% endblock %}
{% if 'main_index' in pagekind %}
    {{ front_index_header }}
{% endif %}
{% if page_links %}
    {{ pagination.page_navigation(current_page, page_links, prevlink, nextlink, prev_next_links_reversed) }}
{% endif %}
<div class="postindex">
{% for post in posts %}
    <article class="h-entry post-{{ post.meta('type') }}" itemscope="itemscope" itemtype="http://schema.org/Article">
    <header>
        <h1 class="p-name entry-title"><a href="{{ post.permalink() }}" class="u-url">{{ post.title()|e }}</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
            {% if author_pages_generated and multiple_authors_per_post %}
                {% for author in post.authors() %}
                    <a href="{{ _link('author', author) }}">{{ author|e }}</a>
                {% endfor %}
            {% elif author_pages_generated %}
                <a href="{{ _link('author', post.author()) }}">{{ post.author()|e }}</a>
            {% else %}
                {{ post.author()|e }}
            {% endif %}
            </span></p>
            <p class="dateline">
            <a href="{{ post.permalink() }}" rel="bookmark">
            <time class="published dt-published" datetime="{{ post.formatted_date('webiso') }}" itemprop="datePublished" title="{{ post.formatted_date(date_format)|e }}">{{ post.formatted_date(date_format)|e }}</time>
            {% if post.updated and post.updated != post.date %}
                <span class="updated"> ({{ messages("updated") }}
                    <time class="dt-updated" datetime="{{ post.formatted_updated('webiso') }}" itemprop="dateUpdated" title="{{ post.formatted_updated(date_format)|e }}">{{ post.formatted_updated(date_format)|e }}</time>)</span>
            {% endif %}
            </a>
            </p>
            {% if not post.meta('nocomments') and site_has_comments %}
                <p class="commentline">{{ comments.comment_link(post.permalink(), post._base_path) }}
            {% endif %}
        </div>
    </header>
    {% if index_teasers %}
    <div class="p-summary entry-summary">
    {{ post.text(teaser_only=True) }}
    {% else %}
    <div class="e-content entry-content">
    {{ post.text(teaser_only=False) }}
    {% endif %}
    </div>
    </article>
{% endfor %}
</div>
{{ helper.html_pager() }}
{{ comments.comment_link_script() }}
{{ math.math_scripts_ifposts(posts) }}
{% endblock %}
